@model List<SRV.ViewModel.CategoryModel>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var selectItem = new Dictionary<string,int?>();
    selectItem.Add("-----",null);
    Model.ForEach(c => selectItem.Add(c.Title, c.Id));
}

<div class="row">
    <div class="col-md-9">
        <h2 class="page-header">
            <span class="fa fa-list" aria-hidden="true"></span> 文章系列管理
            <a class="small pull-right" category-add style="cursor:pointer;"><span class="fa fa-plus"></span> 添加</a>
        </h2>


        @helper DisplayCategory(SRV.ViewModel.CategoryModel category)
        {
            <div @("category-manage-"+@category.Id)   style="margin-bottom:10px;">
                <span class="pull-right">
                    <a category-delete data-id="@category.Id" class="text-warning" style="p"><span class="fa fa-trash"></span>删除</a>
                    <a category-edit data-id="@category.Id" style="margin-left: 14px;"><span class="fa fa-edit"></span>编辑</a>
                </span>
                <h4 category-edit-name>
                    <a href="/Article/Category-3"><span class="fa fa-folder"></span> @category.Title</a>
                </h4>
                <p category-edit-description>
                    @category.Summary
                </p>
                @if (category.Categories.Count > 0)
                {
                    <div style="padding-left:40px">
                        @foreach (var item in category.Categories)
                        {
                            @DisplayCategory(item);
                        }
                    </div>
                }
            </div>
        }
        @if (Model != null)
        {
            foreach (var item in Model.Where(c => c.CategoryId == null))
            {
                @DisplayCategory(item);
            }
        }

        @Html.Partial("NewOrEdit", new SRV.ViewModel.CategoryModel { SelectItem = selectItem })


    </div>
</div>

<style>
    a {
        cursor: pointer;
        text-decoration: none;
    }
</style>

<script>
    let Category = @Html.Raw(Json.Encode(Model.Select(c=>new { id=c.Id,c.Title ,c.Summary,c.CategoryId })) );

    $("[category-add]").click(function () {
        $(".page-header").after($('[category-edit-form]'))
        $('[category-edit-form]')[0].reset();
        $('[category-edit-form]').removeClass("hide")
        $('[category-edit-form]').attr("action", "/Category/NewOrEdit");
    })
    $("[category-edit]").click(function () {
        let id = $(this).data("id");
        $('[category-edit-form]').removeClass("hide")
        $('[category-edit-form]')[0].reset();
        $(`[category-manage-${id}] >P`).after($('[category-edit-form]'))

        let SelectCategory = Category.filter(c => c.id === id)[0]
        $("#CategoryId").val(SelectCategory.CategoryId)
        $("#Title").val(SelectCategory.Title)
        $("#Summary").val(SelectCategory.Summary)
        $('[category-edit-form]').attr("action", "/Category/NewOrEdit/"+id);
    })

    $("[category-delete]").click(function () {
        let id = $(this).data("id");
        $.ajax({
            url: "/Category/DeleteCategory/" + id,
            method:'Post'
        })
        $(`[category-manage-${id}]`).remove();
    })
</script>