@model List<SRV.ViewModel.CategoryModel>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var selectItem = new Dictionary<int,string>();
}
<div class="row">
    <div class="col-md-9">
        <h2 class="page-header">
            <span class="fa fa-list" aria-hidden="true"></span> 文章系列管理
            <a class="small pull-right" category-add style="cursor:pointer;"><span class="fa fa-plus"></span> 添加</a>
        </h2>


        <div category-manage-item data-parent="0" style="margin-bottom:10px;">
            <span class="pull-right">
                <a category-delete data-self-id="3" class="text-warning" style="p"><span class="fa fa-trash"></span>删除</a>
                <a category-edit data-self-id="3" style="margin-left: 14px;"><span class="fa fa-edit"></span>编辑</a>
            </span>

            <h4 category-edit-name>
                <a href="/Article/Category-3"><span class="fa fa-folder"></span> 前端默认数据</a>
            </h4>
            <p category-edit-description>
                前端默认数据测试
            </p>
        </div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                selectItem.Add(item.Id, item.Title);
                <div category-manage-item data-parent="@item.CategoryId" style="margin-bottom:10px;">
                    <span class="pull-right">
                        <a category-delete data-self-id="@item.Id" class="text-warning" style="p"><span class="fa fa-trash"></span>删除</a>
                        <a category-edit data-self-id="@item.Id" style="margin-left: 14px;"><span class="fa fa-edit"></span>编辑</a>
                    </span>

                    <h4 category-edit-name>
                        <a href="/Article/Category-3"><span class="fa fa-folder"></span> @item.Title</a>
                    </h4>
                    <p category-edit-description>
                        @item.Summary
                    </p>
                </div>
            }
        }

        @Html.Partial("NewOrEdit", new SRV.ViewModel.CategoryModel { SelectItem = selectItem })

    </div>
</div>

<style>
    a {
        cursor: pointer;
        text-decoration: none;
    }
</style>

<script>
    $("[category-add]").click(function () {
        $('[category-edit-form]').removeClass("hide")
        $('[category-edit-form]').attr("action", "/Category/NewOrEdit");
    })
</script>