@model List<SRV.ViewModel.ArticleModel>

<div class="container">
    @foreach (var item in Model)
    {
        <div style="margin-bottom:20px; padding-bottom:10px; border-bottom: 1px dashed #ccc;">
            <div>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span> @item.PublishDateTime.ToString()
                    </span>
                </small>

                <span class="pull-right">
                    作者：<a href="/Article/User-@item.AuthorId">@item.AuthorName</a>
                </span>
            </div>

            <div class="clearfix">
                <h1><a href="/Article/@item.Id">@item.Title</a></h1>
                <p style="word-break:break-all; clear:both; margin-top:8px;">@item.Summary</p>
            </div>

            @Html.Partial("Keywords",item.Keywords)
        </div>
    }

    <nav>
        <ul class="pagination">
            @for (int i = 0; i < ViewBag.PageCount; i++)
            {
                <li><a href="/Article/Page-@(i+1)">@(i+1)</a></li>
            }
        </ul>
    </nav>


</div>

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .clearfix {
        clear: both;
    }
</style>