@model SRV.ViewModel.SingleModel

<div class="container body-content">
    <div style="margin-top:55px" class="row">
        <div class="col-md-8">
            <div class="text-primary h2-inline">
                <span class="iconfont icon-article"></span>@Model.Title
            </div>

            <span>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span>@Model.PublishDateTime.ToString()
                    </span>
                </small>
            </span>

            <div style="clear: both; word-break: break-all; padding-top: 20px;">
                <p>
                    @Model.Body
                </p>
            </div>

            <div style=" margin-top: 50px;clear:both; margin-bottom: 20px; padding: 10px 15px; border: 2px dashed #808080; border-radius: 4px 5px;">
                <div>
                    <span class="fa fa-arrow-up"></span>
                    上一篇：
                    @if (Model.PreviousId != null)
                    {
                        <a href="/Article/@Model.PreviousId">@Model.PreviousTitle</a>
                    }
                    else
                    {
                        <span>已经是第一篇了</span>
                    }

                </div>
                <div style="margin-top:6px;">
                    <span class="fa fa-arrow-down"></span>
                    下一篇：
                    @if (Model.NextId != null)
                    {
                        <a href="/Article/@Model.NextId">@Model.NextTitle</a>
                    }
                    else
                    {
                        <span> 已经是最后一篇了……</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
