@model SRV.ViewModel.SingleModel
<div class="container body-content">
    <div style="margin-top:55px" class="row">
        <div class="col-md-8">
            <div class="text-primary h2-inline">
                <span class="iconfont icon-article"></span>@Model.Title
            </div>

            <span>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span>@Model.PublishDateTime.ToString()
                    </span>
                </small>
            </span>

            <div style="clear: both; word-break: break-all; padding-top: 20px;">
                <p>
                    @Model.Body
                </p>
            </div>
            <div id="appraise" class="article-appraise appraise-status pull-right">
                <button id="agree" type="button" class="btn btn-primary" style="margin:10px">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                    <span>@(Model.Appraise?.Agree ?? 0)</span>
                </button>
                </a>
                <button id="disAgree" type="button" class="btn btn-primary">
                    <span class="fa fa-thumbs-o-down"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                    <span>@(Model.Appraise?.DisAgree ?? 0)</span>
                </button>
            </div>

            <div style=" margin-top: 50px;clear:both; margin-bottom: 20px; padding: 10px 15px; border: 2px dashed #808080; border-radius: 4px 5px;">
                <div>
                    <span class="fa fa-arrow-up"></span>
                    上一篇：
                    @if (Model.PreviousId != null)
                    {
                        <a href="/Article/@Model.PreviousId">@Model.PreviousTitle</a>
                    }
                    else
                    {
                        <span>已经是第一篇了</span>
                    }
                </div>
                <div style="margin-top:6px;">
                    <span class="fa fa-arrow-down"></span>
                    下一篇：
                    @if (Model.NextId != null)
                    {
                        <a href="/Article/@Model.NextId">@Model.NextTitle</a>
                    }
                    else
                    {
                        <span> 已经是最后一篇了……</span>
                    }
                </div>
            </div>

            <div class="appraise-status" style="clear:both; margin-top: 15px;">
                <span class="lead" style="margin-right:20px">
                    <span class="fa fa-comments-o"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论</span><small>
                        （ <span zyf-comment-of-article-count="" title="" data-toggle="tooltip" data-original-title="精选评论">0</span> / <span title="" data-toggle="tooltip" data-original-title="全部评论">6</span> ）
                    </small>
                </span>
            </div>

            @{
                var comment = Model.Comments.Where(c => c.CommentBy.Count == 0).ToList();
                var commentBy = Model.Comments.Where(c => c.CommentBy.Count > 0).ToList();

                for (int i = 0; i < comment.Count; i++)
                {
                    <div id="comment">
                        <p>
                            @comment[i].Content </ p >

                            @if (comment[i])
                            {
                                foreach (var commentBy in comment.CommentBy)
                                {
                                    < div style = "width:80%;background-color:aquamarine" >

                                    < p > @commentBy.Content </ p >

                                    </ div >
                                }
                            }
                            </ div >
                        }

            }

    </div>
</div>
</div>

<script type="text/javascript">
    $('#appraise').on('click', function (e) {
        let agree;
        if (e.target.id === 'appraise') { return }
        while (e.target.id !== 'appraise') {
            if (e.target.id === 'agree') {
                agree = true;
            }
            if (e.target.id === 'disAgree') {
                agree = false;
            }
            e.target = e.target.parentNode
        }
        $.ajax({
        url: '/Article/Appraise?id=@(Model.Id)&agree='+agree,
        method: 'post',
            success: function (data) {
                $('#agree').children().last().text(data.Agree)
                $('#disAgree').children().last().text(data.DisAgree)
            }
        })
    })
    @*$('#agree').on('click', function () {
        $.ajax({
        url: '/Article/Appraise?id=@(Model.Id)&agree=true',
        method: 'post',
            success: function (data) {
                $('#agree').children().last().text(data.Agree)
                $('#disAgree').children().last().text(data.DisAgree)
            }
        })
    })
    $('#disAgree').on('click', function () {
        $.ajax({
        url: '/Article/Appraise?id=@(Model.Id)&agree=false',
        method: 'post',
            success: function (data) {
                $('#agree').children().last().text(data.Agree)
                $('#disAgree').children().last().text(data.DisAgree)
            }
        })
    })*@

</script>
