@model SRV.ViewModel.SingleModel

<div class="container body-content">
    <div class="row">
        <div class="col-md-8">
            <div class="text-primary h2-inline">
                <span class="icon-article"></span>@Model.Title
            </div>

            <hr />
            <span>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span>  @Model.PublishDateTime.ToString()
                    </span>
                </small>
            </span>

            <div style="clear: both; word-break: break-all; padding-top: 20px;">
                <p>
                    @Html.Raw(Model.Body)
                </p>
            </div>
            <div style="padding-top:10px">
                @Html.Partial("Keywords", Model.Keywords);
            </div>
            <div id="appraise" class="article-appraise appraise-status pull-right">
                <button id="agree" type="button" class="btn btn-primary" style="margin:10px" agree=@Model.Appraise.IsAgree>
                    <span class="fa fa-thumbs-o-up"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                    <span>@Model.Appraise.AgreeCount</span>
                </button>
                </a>
                <button id="disAgree" type="button" class="btn btn-primary" @(!Model.Appraise.IsAgree)>
                    <span class="fa fa-thumbs-o-down"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                    <span>@Model.Appraise.DisAgreeCount</span>
                </button>
            </div>

            @*<div style="height:80px;border:dashed 1px;clear:both;"></div>*@

            <a name="new-comment"></a>

            <div style="clear:both;">
                <script src="/Scripts/kindeditor/kindeditor-all-min.js"></script>
                <script src="/Scripts/kindeditor/lang/zh-CN.js"></script>
                <script src="/Scripts/kindeditor.help.js"></script>
                <h4>
                    <span class="fa fa-send"></span> <label>我有话说：</label>
                </h4>
                @using (@Html.BeginForm())
                {
                    <div reply-reminder style="margin-bottom:10px">
                    </div>
                    @Html.HiddenFor(c => c.Reply.CommentId);

                    <input type="hidden" name="commentId" />

                    @*<textarea name="content" style="display:none;"></textarea>*@
                    @Html.TextAreaFor(c => c.Reply.Content, new { @class = "form-control", kindEditor = string.Empty, cols = "20", rows = "4" })
                    <div class="submit" style="margin-top:20px">
                        <input type="submit" comment-submit class="btn btn-primary" value="提交">
                        <input type="reset" class="btn btn-default">
                    </div>
                }
            </div>

            <div style="margin-top: 50px;clear:both; margin-bottom: 20px; padding: 10px 15px; border: 2px dashed #808080; border-radius: 4px 5px;">
                <div>
                    <span class="fa fa-arrow-up"></span>
                    上一篇：
                    @if (Model.PreviousId != null)
                    {
                        <a href="/Article/@Model.PreviousId">@Model.PreviousTitle</a>
                    }
                    else
                    {
                        <span>已经是第一篇了......</span>
                    }
                </div>
                <div style="margin-top:6px;">
                    <span class="fa fa-arrow-down"></span>
                    下一篇：
                    @if (Model.NextId != null)
                    {
                        <a href="/Article/@Model.NextId">@Model.NextTitle</a>
                    }
                    else
                    {
                        <span> 已经是最后一篇了......</span>
                    }
                </div>
            </div>

            <div class="appraise-status" style="clear:both; margin-top: 15px;">
                <span class="lead" style="margin-right:20px">
                    <span class="fa fa-comments-o"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论</span><small>
                        （ <span data-toggle="tooltip" data-original-title="精选评论">0</span> / <span comment-count data-toggle="tooltip" data-original-title="全部评论">@ViewBag.CommentCount</span> ）
                    </small>
                </span>
            </div>

            <div id="comments">
                @Html.Partial("Comment/Comments", Model.Comments)
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="contact" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title"><span class="fa fa-info-circle"></span> 友情提示</h4>
                        </div>
                        <div class="modal-body"><p><span class="fa fa-check text-success" style="margin-right:10px;"></span><span>恭喜！评论发布成功。</span></p></div>
                        <div class="modal-footer">
                            <span global-modal-footer-placeholder=""></span>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        </div>
    </div>
</div>

<script>
    //分页处理
    @*$("#comments").on('click', function (e) {
        e.preventDefault()
        e = e.target;

        while (e.tagName!=='NAV') {
            if (e.tagName === "A") {

            }
            e = e.parentNode;
        }
    })*@

    function showRemind(content) {
        showModal("<span class='fa fa-info-circle'></span> 友情提示", content);
    }

    function showModal(title, body, nofooter) {
        $modal = $("[global-modal]");
        $modal.find(".modal-title").html(title);
        $modal.find(".modal-body").html(body);
        if (nofooter) {
            $modal.find(".modal-footer").remove();
        }
        $modal.modal("show");
    }

    //回复
    $("[comment-submit]").on("click", function (e) {
        e.preventDefault()
        editor.sync()
        var $this = $(this),
            $form = $this.parents("form")
            ;
        $.ajax({
            url: "/Article/Reply/@Model.Id",
            data: $form.serialize(),
            method: "POST",
            success: function (data) {
                if (editor !== undefined) {
                    editor.html("");
                }
                $("[comment-count]").text(
                    parseInt($("[comment-count]").text()) + 1);

                //回复
                let $comment = $(data);
                let cid = $("#Reply_CommentId").val()
                if (!!cid) {
                    $(`[comment-${cid}]`).append($comment);
                } else {
                    $("#comments").append($comment);
                }
                $("#Reply_CommentId").val('');

                showRemind(`<p><span>评论发布成功!</span></p>`);
            },
        })
    })

    //评论功能委托
    $('#comments').on('click', function (e) {

        let selectComment;
        while (e.target.id != 'comments') {

            //删除楼层
            if (e.target.tagName == 'A' && e.target.innerHTML == $('[delete]')[0].innerHTML) {
                selectComment = e.target.parentNode.parentNode
                let id = $(selectComment).data('id')

                $.ajax({
                    url: `/Article/DeleteComment/${id}`,
                    success: function (data) {
                        hasDel = JSON.parse(data.toLowerCase())
                        if (hasDel) {
                            console.log(!hasDel)
                            $(selectComment).remove()
                            $('[comment-count]').text(
                                (+$('[comment-count]').text() - 1))
                            showRemind(`<p><span>评论删除成功!</span></p>`);
                        } else {
                            showRemind(`<p><span>评论删除失败!因为你不是文章作者或者评论发布人</span></p>`);
                        }
                    }
                })
                return;
            }
            //回复特定楼层
            if (e.target.tagName == 'A' && $(e.target).is($("[reply]"))) {
                let id = $(e.target).data('id');
                let cid = $(e.target).data('cid');
                let floor;
                $("#Reply_CommentId").val('');
                $("input[name='id']").val('');

                if (!!cid) {
                    $("#Reply_CommentId").val(cid);
                    floor = $(`[floor-${cid}]`).html();
                } else {
                    $("#Reply_CommentId").val(id);
                    floor = $(`[floor-${id}]`).html();
                }
                $('[reply-reminder]').html(floor)
                return;
            }

            //分页功能
            if (e.target.tagName == 'A' && e.target.parentNode.tagName === "LI") {
                e.preventDefault()
                let url = $(e.target).attr("href").split('/');
                paramter = "?id=@Model.Id&page=" + url.pop()
                $.ajax({
                    url: url+paramter,
                    method: 'Get',
                    success: function (res) {
                        $("#comments").html(res)
                    }
                })
                return;
            }
            e.target = e.target.parentNode
        }
    })



</script>

<script type="text/javascript">


    let hasAgree = "@Model.Appraise.IsAgree";
    let appraiseStatus = [false, false]
    if (hasAgree == "True") {
        appraiseStatus[0] = true
    } else if (hasAgree == "False") {
        appraiseStatus[1] = true
    }

    function appraise(e, e2, agree) {
        b1 = +!agree;b2 = +agree;
        e = $(e).children().last();
        if (appraiseStatus[b1] === true) {
            e.text(+e.text()-1)
            appraiseStatus[b1] = false;
        } else {
            if (appraiseStatus[b2]===true) {
                e2.text(+e2.text()-1)
                appraiseStatus[b2] = false
            }// else nothing
            e.text(+e.text()+1)
            appraiseStatus[b1] = true;
        }
        hasAgree = appraiseStatus[b1]
    }

    $('#appraise').on('click', function (e) {
        let agree;
        if (e.target.id === 'appraise') { return }
        while (e.target.id !== 'appraise') {
            if (e.target.id === 'agree') {
                agree = true;
                let e2 = $(e.target).next().children().last()
                appraise(e.target,e2,  agree)
            }

            if (e.target.id === 'disAgree') {
                agree = false;
                let e2 = $(e.target).prev().children().last();
                appraise(e.target,  e2, agree)
            }
            e.target = e.target.parentNode
        }

        $.ajax({
        url: '/Article/Appraise?id=@(Model.Id)&agree='+agree,
        method: 'post',
            success: function () {
                @*$('#agree').children().last().text(@Model.Appraise.Agree + appraise[0])
                $('#disAgree').children().last().text(@Model.Appraise.DisAgree+appraise[1])*@
            }
        })
    })


</script>

<style>
    .comment {
        margin-top: 10px;
        border-bottom: 1px dashed #ddd;
    }

    .commentBy {
        width: 95%;
        float: right;
        margin-top: 3px;
    }

    .h2-inline {
        font-size: 30px;
    }

    .iconfont {
        font-family: "iconfont" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
