@model List<SRV.ViewModel.ArticleModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div>
            <small class="text-muted" zyf-datetime="">
                <span>
                    <span class="fa fa-calendar"></span> @item.PublishDateTime.ToString()
                </span>
            </small>

            <span class="pull-right">
                作者：<a href="/Article/User-@item.AuthorId">@item.AuthorName</a>
            </span>
        </div>

        <div style="margin-bottom:20px; padding-bottom:10px; border-bottom: 1px dashed #ccc;">
            <div class="clearfix">
                <h1><a href="/Article/User-@item.AuthorId/@item.Id">@item.Title</a></h1>
                <p style="word-break:break-all; clear:both; margin-top:8px;">@item.Summary</p>
            </div>
        </div>
    }

    <nav>
        <ul class="pagination">
            @for (int i = 0; i < ViewBag.PageCount; i++)
            {
                <li><a href="/Article/User-@ViewBag.AuthorId/@(i+1)">@(i+1)</a></li>
            }
        </ul>
    </nav>


</div>

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .clearfix {
        clear: both;
    }
</style>

@*


    $('#appraise').on('click', function (e) {
        let agree;
        if (e.target.id === 'appraise') { return }
        while (e.target.id !== 'appraise') {
            if (e.target.id === 'agree') {
                agree = true;
                let val = $('#agree').children().last().text();
                let dval = $('#disAgree').children().last().text();
                if (appraise[0]) {
                    $('#agree').children().last().text(--val);
                    appraise[0] = false;
                } else {
                    if (appraise[1]) {
                        $('#disAgree').children().last().text(--dval);
                        appraise[1] = false
                    }
                    $('#agree').children().last().text(++val);
                    appraise[0] = true;
                }
            }

            if (e.target.id === 'disAgree') {
                agree = false;
                let val = $('#disAgree').children().last().text();
                let aval = $('#agree').children().last().text();
                if (appraise[1]) {
                    $('#disAgree').children().last().text(--val);
                    appraise[1] = false;
                } else {
                    if (appraise[0]) {
                        $('#agree').children().last().text(--aval);
                        appraise[0] = false
                    }
                    $('#disAgree').children().last().text(++val);
                    appraise[1] = true;
                }
            }
            e.target = e.target.parentNode
        }

        $.ajax({
        url: '/Article/Appraise?id=@(Model.Id)&agree='+agree,
        method: 'post',
            success: function () {
                @*$('#agree').children().last().text(@Model.Appraise.Agree + appraise[0])
                $('#disAgree').children().last().text(@Model.Appraise.DisAgree+appraise[1])*@
            }
        })
    })
*@