@model List<SRV.ViewModel.MessageModel>

@{
    ViewBag.Title = "MessageController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr.thin {
        margin-top: 5px !important;
        margin-bottom: 8px !important
    }

    hr.dashed {
        border-top: 1px dashed #eee !important
    }
    .text-bold{
        font-weight:600;
    }
</style>
<div class="row">
    <h2 class="page-header">
        <span class="fa fa-bell" aria-hidden="true"></span> 我的消息
    </h2>

    @using (Html.BeginForm())
    {
        <div class="row" style="margin-bottom:20px;">
            <div class="col-xs-12 col-sm-8 col-md-6">
                <label class="checkbox-inline">
                    <input type="checkbox"> 全选
                </label>
                <button type="submit" value="Read" class="btn btn-primary btn-xs" name="submitType">
                    <span class="fa fa-check-circle"></span> 已读
                </button>
                <button type="submit" value="Delete" class="btn btn-default btn-xs" name="submitType">
                    <span class="fa fa-times-circle"></span> 删除
                </button>
            </div>
            <input type="hidden" name="submit" value="">
        </div>

        <div class="row visible-sm visible-md visible-lg">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">时间</div>
            <div class="col-sm-2">
                <a zyf-message-filter="" data-toggle="tooltip" title="" data-original-title="筛选/退订">订阅种类 <span class="fa fa-cog"></span></a>
            </div>
            <div class="col-sm-8">内容</div>
        </div>
        for (int i = 0; i < Model.Count; i++)
        {
            <hr class="thin dashed">
            <div class="row @(Model[i].HasRead==false ? "text-bold":"")">
                <div class="col-xs-2 col-sm-1">
                    @Html.CheckBoxFor(m => Model[i].Selected)
                    @Html.HiddenFor(m => Model[i].Id)
                    @Html.HiddenFor(m => Model[i].HasRead)
                </div>
                <div class="col-xs-2 col-sm-1" data-toggle="tooltip" title="@Model[i].CreateTime">
                    <small>
                        <span class="fa fa-calendar"></span>
                    </small>
                </div>
                <div class="col-xs-8 col-sm-2">
                    刷新
                </div>
                <div class="col-xs-12 col-sm-8">
                    @Model[i].Content
                </div>
            </div>
        }


    }

    <nav>
        <ul class="pagination">
            @for (int i = 0; i < ViewBag.PageCount; i++)
            {
                <li><a href="/Message/Page-@(i+1)">@(i+1)</a></li>
            }
        </ul>
    </nav>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('.checkbox-inline').click(function () {
        let box = $(':checkbox');
        if (box.get(0).checked) {
            box.each(function (i) {
                if (i > 0) {
                    $(this).prop('checked',true)
                }
            })
        } else {
            box.each(function (i) {
                if (i > 0) {
                    $(this).prop('checked', false)
                }
            })
        }
    })
</script>

